%h3= "@#{params[:id]}"
%ul
  - @actions.each do |action|
    %li
      %i.fa{:class => action_icons(action.action), :title => action.action}
      \::
      = action.presentable_content
      \::
      = time_ago_in_words action.created_at
      ago
